        <h1 class="display-4">Trivia, It's a Party!</h1>
        <div id="players">
            <h2 class="Player1 d-inline">Player 1: <span id="score1"></span></h2>
            <h2 class="player2 d-inline">Player 2: <span id="score2"></span></h2>
            <h2 class="player3 d-inline">Player 3: <span id="score3"></span></h2>
        </div>
        <hr>
        <br>
        <section class="main">

            <ul class="ch-grid">
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                                <h3>Mouse</h3>
                                <p>by Alexander Shumihin <a href="http://drbl.in/eAoj">View on Dribbble</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-2"></div>
                            <div class="ch-info-back">
                                <h3>You</h3>
                                <p>by Zoe Ingram <a href="http://drbl.in/eCcV">View on Dribbble</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-3"></div>
                            <div class="ch-info-back">
                                <h3>Love</h3>
                                <p>by Eileen Tjan <a href="http://drbl.in/ewTL">View on Dribbble</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="ch-grid">
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                                <h3>Mouse</h3>
                                <p>by Alexander Shumihin <a href="http://drbl.in/eAoj">View on Dribbble</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-2"></div>
                            <div class="ch-info-back">
                                <h3>You</h3>
                                <p>by Zoe Ingram <a href="http://drbl.in/eCcV">View on Dribbble</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-3"></div>
                            <div class="ch-info-back">
                                <h3>Love</h3>
                                <p>by Eileen Tjan <a href="http://drbl.in/ewTL">View on Dribbble</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="ch-grid">
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back">
                                <h3>Mouse</h3>
                                <p>by Alexander Shumihin <a href="http://drbl.in/eAoj">View on Dribbble</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-2"></div>
                            <div class="ch-info-back">
                                <h3>You</h3>
                                <p>by Zoe Ingram <a href="http://drbl.in/eCcV">View on Dribbble</a></p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="ch-item">
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-3"></div>
                            <div class="ch-info-back">
                                <h3>Love</h3>
                                <p>by Eileen Tjan <a href="http://drbl.in/ewTL">View on Dribbble</a></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>


        </section>




    <!-- Button trigger modal -->
    <button type="button" class="btn btn-warning" id="sign-in" data-toggle="modal" data-target="#exampleModal">
        Your Name Here
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please enter your name 😊</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="col-md-4 mb-3">
                            <input type="text" class="form-control" id="validationDefault01" placeholder="First name"
                                style="color:orange" value="" required>
                        </div>

                        <p style="color:orange">Click any icon to select your preference after entering
                            your name.</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" id="log-in">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <br><br>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

