.ch-grid5 {
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid5:after,
.ch-item5:before {
	content: '';
    display: table;
}

.ch-grid5:after {
	clear: both;
}

.ch-grid5 li {
	width: 200px;
	height: 200px;
	display: inline-block;
	margin: 5px;
}


.ch-item5 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

ch-info5-wrap, 
.ch-info5{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.ch-info5-wrap {
	top: 20px;
	left: 20px;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.ch-info5 > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
}

.ch-info5 .ch-info-front5 {
	background-size: 160%;
	transition: all 0.6s ease-in-out;
}

.ch-info5 .ch-info-back5 {
	opacity: 0;
	background: #223e87;
	pointer-events: none;
	transform: scale(1.5);
	transition: all 0.4s ease-in-out 0.2s;
}

.art { 
	background-image: url(../images/art.jpg);
}

.film { 
	background-image: url(../images/film.jpg);
}

.tv { 
	background-image: url(../images/tv.jpg);
}

.food { 
	background-image: url(../images/food.jpg);
}

.history { 
	background-image: url(../images/history.jpg);
}

.animal { 
	background-image: url(../images/animal.jpg);
}

.plants { 
	background-image: url(../images/plants.jpg);
}

.weather { 
	background-image: url(../images/weather.jpg);
}

.technology { 
	background-image: url(../images/technology.jpg);
}

.music { 
	background-image: url(../images/music.jpg);
}

.sports { 
	background-image: url(../images/sports.jpg);
}

.videogames { 
	background-image: url(../images/videogames.jpg);
}

.books { 
	background-image: url(../images/books.jpg);
}

.anime { 
	background-image: url(../images/anime.jpg);
}

.geography { 
	background-image: url(../images/geography.jpg);
}



.ch-info5 h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: 80px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info5 p {
	color: #fff;
	padding: 10px 5px 0;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info5 p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info5 p a:hover {
	color: #fff;
}

.ch-item5:hover .ch-info-front5 {
	transform: scale(0);
	opacity: 0;
} 

.ch-item5:hover .ch-info-back5 {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}
