body{
    text-align: center;
    background-image: url("../images/background4.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}

h1 {
    color: rgb(248, 225, 225);
    font-size: 3rem;
    font-family: 'Allerta Stencil', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 3rem auto 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 6s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
  }

#players {
    margin-top: 5rem;
    color: grey;
}


  
 
  

